p, label, input
{
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.controls
{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rm10
{
  margin-right: 10px;
}

.rm25
{
  margin-right: 25px;
}

/* When you're in a hurry, CSS generators are cool ... modify to suit your taste */
.basic-button
{
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color: #7892c2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  padding: 4px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.basic-button:hover
{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color: #476e9e;
}

.basic-button:active
{
  position: relative;
  top: 1px;
}
